<ion-view title="Tylers Final">
  <ion-content padding="true">
    <br>
    <div class="row text-center">
      <div class="col"><img src="/img/utah.png" alt=""></div>
      <div class="col"><img src="/img/byu.gif" alt=""></div>
      <div class="col"><img src="/img/usu.png" alt=""></div>
    </div>

    <h1 class="text-center">Random College Colors</h1>
    <h3 class="text-center">Starting with the Utah Greats</h3>
<br />
    <p class="text-center"><strong>This is meant to be viewed on a device. Turn on emulation for Nexus5 or simliar device for best experience.</strong></p>
    <br>
    <br>
    <div class="row">
      <div class="col text-center">
        <a href="#/tab/color" class="button button-outline button-positive">Get Started</a>
      </div>
    </div>

  </ion-content>
</ion-view>